.btn {
    width: 90px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    margin-right: 10px;
}

.primary {
    composes: btn;
    composes: primaryColor from "../assets/colors.module.css";
    composes: primaryBg from "../assets/colors.module.css";
    /* color: #FFFFFF;
    background-color: #6E41E2; */
}
 
.secondary {
    composes: btn;
    composes: secondaryColor from "../assets/colors.module.css";
    composes: secondaryBg from "../assets/colors.module.css";
    /* color: #6E41E2; */
    /* background-color: #FFFFFF; */
}